/* Highlight ngày có trong scheduleItems */
.highlight-scheduled-date {
  background: #3b82f6 !important; /* Blue-500 */
  color: white !important;
  border-radius: 12px;
}

/* Custom tổng thể react-calendar */
.react-calendar {
  width: 100% !important;
  font-family: 'Inter', sans-serif;
  border: none !important;
}

.react-calendar__tile--active {
  background: #111827 !important; /* Gray-900 */
  border-radius: 12px;
}

.react-calendar__navigation button {
  font-weight: 900;
  text-transform: uppercase;
  color: #111827;
}

.react-calendar__tile--now {
  background: #FFF176 !important;
  border-radius: 12px !important;
  color: #854d0e !important;
  font-weight: bold !important;
}